## Build version shared for all services
APP_VERSION=0.0.1-SNAPSHOT
REVISION=${APP_VERSION}

## Credentials to be used for everything during development time
## This is for convenience only, do not use the `.env` file in production
DEV_USER=admin
DEV_PASSWORD=
